/* Content */
.content {
    padding-top: 30px;
}

body {
	background: url(../img/alumni-back.jpg);
	background-position: center center;
	background-repeat: none;
    background-attachment: scroll;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#page-content-wrapper{
	height: 100%;
	margin: 0 10% 0 10%;
}

/* Testimonials */
.testimonials{
    background-color: transparent;
    display: block;
    margin-bottom: 5%;
}
.testimonials blockquote {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    position: relative;
    font-family: 'Chewy', cursive;
    font-stretch: expanded;
    letter-spacing: 0.9px;
    word-spacing: 3px;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid rgba(102,102,102,0.4);
    border-radius: 20px;
}
.testimonials .carousel-info img {
    border: 1px solid #f5f5f5;
    border-radius: 150px !important;
    height: 75px;
    padding: 3px;
    width: 75px;
}
.testimonials .carousel-info {
    overflow: hidden;
}
.testimonials .carousel-info img {
    margin-right: 15px;
}
.testimonials .carousel-info span {
    display: block;
}
.testimonials span.testimonials-name {
    color: #e6400c;
    font-size: 16px;
    font-weight: 300;
    margin: 23px 0 7px;
    font-weight: bold;
}
.testimonials span.testimonials-post {
    color: #656565;
    font-size: 12px;
    font-style: italic;
}

hr {
  border: 0;
  width: 60%;
  color: #f00;
  background-color: #f00;
  height: 2px;
}