.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    color: #fcac45;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: bolder; 
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: white;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #fed136;
    background-color: #fed136;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fed136;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #fed136;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fed136;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fed136;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: transparent;
} 

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:0px !important; padding-bottom:0 !important;
    height: 10px;
}
.navbar {min-height:10px !important;}

.navbar-nav>li>.dropdown-menu {
	margin-top: 22px;
}